<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>variable</title>
</head>
<body>
    <h1>VARIABLE.HTML</h1>

    {% if user_logged_in %}
        <h2>Welcome back you are logged in</h2>
    {% endif %}

    {% if user_logged_out %}
        <h2>Welcome back you are logged in</h2>
    {% else %}
        <h2>You need to log in</h2>
    {% endif %}

    {% for num in some_list %}
        {% if num == 2 %}
            <li>TWO</li>
        {% else %}
            <li>{{num}}</li>
        {% endif %}
    {% endfor %}

</body>
</html>