<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher List</title>
</head>
<body>
    <h1>List of Teachers (ListView)</h1>
    <ul>
        <!-- views 에서 context_object_name 을 설정하면 object_list->"설정한 변수명"으로 변경가능  -->
        {% for teacher in teacher_list %}
            <li>{{teacher.first_name}} {{teacher.last_name}}</li>
        {% endfor %}
        </ul>
</body>
</html>