h1{
    color: rgba(255, 89, 0, 0.338);
}

h2{
    color: greenyellow;
    background-color: black;
}

body{
    background-color: cornflowerblue;
}

div{
    color: blue;
    background-color: orange;
    /* border-color: orange; */
    border-width: 20px;
    border-style: dashed;
}

span{
    color: red;
}